.shop-header {
    background-image: url("https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/l/lego-marvel-super-heroes-switch/hero");
    background-size: cover;
    height: 700px;
    color: white; 
}

.shop-stats {
    color: white; 
}